<div class="navbar">
    <div class="content">
        <nav class="btn" id="home" (click)="homeClick()">
            <a routerLink="perfil" routerLinkActive="active">Perfil</a>
        </nav>

        <nav class="options">
            <a class="btn" routerLink="formacao" routerLinkActive="active">Formação</a>
            <a class="btn" routerLink="projetos" routerLinkActive="active">Projetos</a>
            <a class="btn" routerLink="contato" routerLinkActive="active">Contato</a>
        </nav>

    </div>
</div>