<div class="formacao">
    <div class="formacao-box">
        <div class="formacao-header">
            <img src="../../../assets/images/academic.png" 
                alt="Logo de formação acadêmica"
                height="100px"    
            >
            <div id="divisor"></div>
            <div id="formacao-id">Formação</div>
        </div>
        <div class="formacao-body">
            <div class="grupo-texto-body">
                <div id="unicesumar-id">Engenharia de Software</div>
                <div id="bacharelado">Bacharelado</div>
            </div>
            <img src="../../../assets/images/unicesumar.png" 
                alt="Logo Unicesumar"
                height="250px"
            >
        </div>
    </div>
</div>