<div class="profile-box animation">
    
    <video class="left avatar" src="../../../assets/images/animacao.mp4" loop=true autoplay=true (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)"></video>
   
    <div class="skills right">
        <div class="title">José Eduardo</div>
        <br>
        <div class="subtitle">Desenvolvedor FullStack e Mobile</div>
        <br>
        <div class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos ducimus minus iusto laudantium cupiditate, reiciendis illum voluptates sapiente maxime enim voluptatem sunt totam, dicta incidunt. Enim incidunt asperiores totam quo.</div>
    </div>
</div>